# Node.js
node_modules
dist
*.log
*.tmp
*.pid
*.seed
*.pid.lock

# React e frontend
frontend/.env.local
frontend/public/static/
frontend/build
frontend/.parcel-cache
frontend/coverage

# Backend
backend/.env
backend/.env.local
backend/prisma/migrations/
backend/.cache
backend/src/llama-backend/app/models

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Configurações de ambiente
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Temp folders
.temp
.tmp

# VSCode
.vscode/
!.vscode/extensions.json

# Sistema operacional
.DS_Store
Thumbs.db

# Prisma
prisma/migrations/

# Cobertura de testes
coverage/

# Produção
build/

# Outras ferramentas de cache e build
.cache/
.parcel-cache/

# Arquivos diversos
*.swp
*.bak
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

#Dependências da AI
DependenciasAI
llama-backend/app/models

#Python
.venv